body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background-color: transparent
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}


.btn:hover {
    background: unset !important;
    color: unset !important;
}

.btn:active,
.accordion-button:active {
    border: unset !important;
    outline: unset !important;
    box-shadow: unset !important;
    background-color: unset !important;
}

#message__btn:focus,
#message__btn:focus-within {
    border-color: transparent;
    box-shadow: unset;
    outline: unset;
}

.theme-toggle {
    display: inline-block;
    margin-right: 10px;
    transform: unset;
    padding: unset;
}

.theme-toggle__checkbox {
    display: none;
}

.theme-toggle__label {
    display: block;
    width: 50px;
    height: 25px;
    background-image: linear-gradient(to right, #507da0 0%, #17242f 100%);
    border-radius: 25px;
    position: relative;
    cursor: pointer !important;

}

.prof_cont {
    background-image: linear-gradient(to right, rgb(36, 57, 73, .5) 0%, rgb(23, 36, 47, .9) 100%);
}

.theme-toggle__label:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-in-out;
}

.theme-toggle__checkbox:checked+.theme-toggle__label {
    background-image: linear-gradient(to right, #a8c0d3 0%, #17242f 100%)
}

.theme-toggle__checkbox:checked+.theme-toggle__label:before {
    transform: translateX(25px);
    background-image: linear-gradient(to right, #243949 0%, #17242f 100%)
}

.bg-dark {
    background-image: linear-gradient(to right, #243949 0%, #17242f 100%) !important;
    color: #fff !important;
}

.card-dark-background {
    background-image: linear-gradient(to right, #131f27 45%, #17242f 100%) !important;
    color: #fff !important;
}

.card-light-background {
    background-image: linear-gradient(120deg, #ffffff 0%, #ffffff 100%);
    color: #191919 !important;
}

.input_group_light_ {
    background-color: #3d607e;
    color: black;
}

.input_group_dark_ {
    background-color: #17242f;
    color: white;
}

.card_ans:hover {
    cursor: pointer;
}

.para__ans {
    background-color: transparent;
}